<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view title="Editing {{place.name}}">
  <ion-content has-header="true" padding="true">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Nick" ng-model="place.name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <textarea placeholder="About this place" ng-model="place.description" rows="8"></textarea>
      </label>  
    </div>                  
    <div class="button-bar">
      <a href="#/" class="button button-calm">Cancel</a>
      <a ng-click="save()" class="button button-balanced">Save</a>
      <a ng-click="confirmDelete()" class="button button-assertive">Delete</a>
    </div>       
  </ion-content>
</ion-view>

         