<ion-view title="Farnborough Guide">   
  <ion-content class="has-header">  
    <!-- THOUGHT: This should become a directive taking params for Firebase Ref, Limits, sort and other params -->

    <!-- Changing the structure of the database so that we have -->
    <!-- Farnborough (Firebase DB) to be renamed as Guides -->
    <!-- - Farnborough -->
        
    <!-- -- Feed - which is updated when other things are updated, i.e Linkup Ltd have changed their profile or... -->
    <!-- --      - when someone with a profile publishes an announcement -->
    
    <!-- -- Profiles (paid for/premium)-->
    
    <!-- -- Types or Profiles are as follows: -->
    
    <!-- -- Businesses -->
    <!-- -- Eating Out/In -->
    <!-- -- Historic -->
    <!-- -- Transport -->
    <!-- -- Articles -->
    <!-- -- Activities -->
    <!-- -- Parks -->
    <!-- -- Organisations (such as Scouts and the like) -->
    <!-- -- Any others? You bet, lets just add new ones as we go along -->
    
    
    <!-- - Portsmouth -->
    <!-- - Winchester and so on -->
    <!-- - Malta!! -->
    
    <!-- -->
    
    <statuspost></statuspost>    
    <feedlist ref="ref" limit="limit" orderby="orderby"></feedlist>
  </ion-content>
</ion-view>
